<h1 id="title">
  Extract Data From CSV
</h1>

<!-- FORMULARIO PARA EL CSV -->
<div id="csv-form">
  <form action="" class="csv-form" [formGroup]="csvForm">
    <label for="file">Seleccione un archivo .csv:</label>
    <input type="file" name="file" id="file" formControlName="file" (change)="readFile($event)" multiple="multiple" accept=".csv">
    <button type="submit" (click)="sendCSV()">Subir archivo</button>
    @if (file?.hasError('invalidFileFormat')) {
      <p class="file-error">
        El formato del archivo no es csv.
      </p>
    }
  </form>
</div>

<!-- FILTRO DE USERS -->
<div id="filter">
  <form action="" class="user-filter" [formGroup]="filterForm">
    <label for="filter">Introduce parámetro de búsqueda para encontrar usuario:</label>
    <div class="user-input-button">
      <input type="text" class="parameter" name="parameter" formControlName="parameter">
      <button type="submit" (click)="filter()">Buscar</button>
    </div>
  </form>
</div>

<!-- TARJETAS CON LOS DATOS DE LOS USUARIOS -->
<main>
  <div id="users">
    @for (user of users; track user._id) {
      <div class="card">
        <p class="data">Nombre: {{ user.nombre }}</p>
        <p class="data">Apellido: {{ user.apellido }}</p>
        <p class="data">Email: {{ user.email }}</p>
        <p class="data">Teléfono: {{ user.telefono }}</p>
        <p class="data">Ciudad: {{ user.ciudad }}</p>
        <p class="data">Fecha inscripción: {{ user.fecha_inscripcion }}</p>
      </div>
    }
    @empty {
      <p>No hay usuarios registrados.</p>
    }
  </div>
</main>